html { -webkit-print-color-adjust: exact; }

div, a, .fond {
    color: aliceblue;
}

.fond {
    background-color: #629460;
    height: 125px;
}

.page {
    background-color: #393E41 ;
    height: 995px;
}


.moov{
    padding-right: 5px;
}

.truc {
    display: flex;
}


.date {
    display: flex;
    margin-bottom: 5px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.about {
    margin: 10px;
    margin-top: 0px;
}

.centremoi{
    text-align: center;
}

.centrediv{
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 5px;
    text-align: center;
}

ul {
    padding-left: 0px;
    list-style: none;
    
}

.magie {
    margin-right: 10px;
    padding-left: 10px;
}

li{
    text-align: center;
}


h1{
    text-align: center; 
    margin : 0;
    margin-bottom: 2px;
}
h2{
    text-align: center;
    margin : 0;

}
h3{
    text-align: left;
    margin : 0;
}

div p {
    margin: -3;
}


.info{
    margin-bottom : 5px;
    margin-top : 2px;
}

.solo{
    width: 80%;
}
  

div {
   font-size: 1.02em; 
}