html { -webkit-print-color-adjust: exact; }

footer{
    height: 200px;
    background-color: #629460;

}

img{
    border-radius: 25%;
    width: 90px;
    position: absolute;
top: 5px; right: 5px;
}
div, a, .fond {
    color: rgb(0, 0, 0);
}

.fond {
    background-color: #629460;
    height: 130px;
}

#root {
    background-color: #ffffff ;
    height: 100%;
    font-size: 0.8em;
}

.projet{
    font-size: 2;

}

#exp div{
    padding-left: 0px;
    margin-bottom: 20px;

}

#exp div ul{
    border-left: 5px solid rgb(25, 104, 1);
    padding-left: 4px;
}

#exp div p{
    padding-bottom: 5px;
}


.moov{
    padding-right: 5px;
}

.truc {
    display: flex;
}


.date {
    display: flex;
    margin-bottom: 5px;
}

.flex {
    display: flex;
    justify-content: space-evenly;
}

.about {
    margin: 10px;
    margin-top: 5px;
    font-size: 1.2em;
    text-align: center;
}

.centremoi{
    text-align: right;
}

.centrediv{
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 5px;
}



ul {
    padding-left: 0px;
    list-style: none;
    
}

.ok{
    margin: 0px;
    list-style: circle inside;
}

.ok li{
    text-align: left;
}

.magie {
    margin-right: 10px;
    padding-left: 10px;
}


h1{
    text-align: center; 
    margin : 0;
    margin-bottom: 2px;
}
h2{
    text-align: left;
    margin : 0;

}
h3{
    text-align: left;
    margin : 0;
}

div p {
    margin: -3;
}


.info{
    margin-bottom : 5px;
    margin-top : 2px;
    text-align: center;
}

  

div {
   font-size: 1.02em; 
}

.ranger {
    text-align: left;
    width: 400px;
    margin-right: 5px;
}

progress {
    -webkit-appearance: none;
  }

  ::-webkit-progress-bar {
    background-color: rgb(148, 243, 148);
 }